{#
/**
 * @file invoice-form.html.twig
 * Default theme implementation to present Invoice form.
 *
 * This template is used when viewing Invoice pages.
 *
 *
 * Available variables:
 * - form: Form array
 *
 * @see template_preprocess_invoice_form()
 *
 * @ingroup themeable
 */
#}
<div id="invoice-wrapper">
  {{form}}
</div>