{#
/**
 * @file invoice-form.html.twig
 * Default theme implementation to present Invoice form.
 *
 * This template is used when viewing Invoice pages.
 *
 *
 * Available variables:
 * - form: Form array
 *
 * @see template_preprocess_invoice_form()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('restaurant_invoice/invoice') }}

<div id="invoice-wrapper">
  <ul class="nav nav-tabs" id="invoiceTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#pedido" role="tab" aria-controls="pedido" aria-selected="false">Pedido</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="detail-tab" data-toggle="tab" href="#detalle" role="tab" aria-controls="home" aria-selected="true">Detalle</a>
    </li>
  </ul>
  {{form}}
</div>